<div class="home-container">
    <section class="home-section">
        <div class="container text-center">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <img src="https://img.freepik.com/free-psd/special-sales-banner-template_23-2148975924.jpg" style="width: 100%;" alt="">
            </div>
            <div class="col-md-6">
              <h1>Welcome to Our E-Commerce Store</h1>
              <p>Discover a wide range of products for all your needs</p>
              <button class="orange-button btn-lg" (click)="onShop()">Shop Now</button>
            </div>
          </div>
        </div>
      </section>
    <app-footer></app-footer>
</div>