.main-container {
    height: 90vh;
    overflow: auto;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the font color to white */
}

.products-container {
    width: 100%;
    display: flex;
}

.body-container {
    height: 90vh;
    overflow: auto;
    width: 80%;
    padding: 40px 20px;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the font color to white */
}

@media screen and (max-width:768px) {
    .body-container {
        width: 100%;
        padding: 15px;
    }
}

.sidebar-container {
    width: 20%;
    height: 90vh;
    border-right: 1px solid #dfdfdf;
}

@media screen and (max-width:768px) {
    .sidebar-container {
        display: none;
    }
}

.products-list-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.card {
    width: 16rem;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the font color to white */
}

@media screen and (max-width:768px) {
    .card {
        width: 49%;
    }
}

.update-card {
    border: 1px solid grey;
}

.card:hover {
    box-shadow: 0 0 20px #e2e2e2;
    border: none;
    transform: scale(1.02);
    transition: all 0.3s ease;
    border-radius: 0;
}

.loader-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orange-button {
    background-color: orange; /* Set the background color to orange */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .orange-button:hover {
    background-color: darkorange;
  }
  .white-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .white-button:hover {
    background-color: #f0f0f0;
  }
  